@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "Verify Email Cover - Pages";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a href="/" class="app-brand auth-cover-brand gap-2">
    <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
    <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">

    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
      <div class="w-100 d-flex justify-content-center">
        <img src="~/img/illustrations/boy-verify-email-light.png" class="img-fluid" alt="Login image" width="700" data-app-dark-img="illustrations/boy-verify-email-dark.png" data-app-light-img="illustrations/boy-verify-email-light.png">
      </div>
    </div>
    <!-- /Left Text -->

    <!--  Verify email -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-6 p-sm-12">
      <div class="w-px-400 mx-auto mt-12 mt-5">
        <h4 class="mb-1">Verify your email ✉️</h4>
        <p class="text-start mb-0">
          Account activation link sent to your email address: hello&#64;example.com Please follow the link inside to continue.
        </p>
        <a class="btn btn-primary w-100 my-6" href="/">
          Skip for now
        </a>
        <p class="text-center mb-0">Didn't get the mail?
          <a href="javascript:void(0);">Resend</a>
        </p>
      </div>
    </div>
    <!-- / Verify email -->
  </div>
</div>
