@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center menu-toggle-icon d-none d-xl-flex"></i>
      <i class="bx bx-x d-flex d-xl-none bx-sm align-middle align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">
    <li class='menu-item@(currentPage == "/" ? " active" : "")'>
      <a asp-controller="Home" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div>Dashboard</div>
      </a>
    </li>
    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Management</span>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Admin/Product") ? " open" : "")'>
      <a asp-controller="Product" asp-action="Index" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div>Quản lý sản phẩm</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Admin/Product/Create" ? " active" : "")'>
          <a asp-controller="Product" asp-action="Create" class="menu-link">
            <div>Tạo mới sản phẩm</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Admin/Product" ? " active" : "")'>
          <a asp-controller="Product" asp-action="Index" class="menu-link">
            <div>Danh sách sản phẩm</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
<!-- / Menu -->
