@model AspnetCoreMvcStarter.Models.Request

<h2>Edit Request</h2>

<form asp-action="Edit">
  <input type="hidden" asp-for="RequestId" />
  <div class="form-group">
    <label asp-for="QuantityRequested"></label>
    <input asp-for="QuantityRequested" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="Status"></label>
    <input asp-for="Status" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<a asp-action="Index">Back to List</a>
