@{
  ViewData["Title"] = "Page 2 - Starter Kit";
}

@* ************** Content ************** *@
<h4 class="py-4 mb-6">Page 2</h4>
<p>Sample page.<br />For more layout options, refer <a href="@TempData.Peek("documentation")" target="_blank" class="fw-medium">Layout docs</a>.</p>
