@{
  ViewData["Title"] = "Page 1 - Starter Kit";
}

<h4 class="py-4 mb-6">Page 1</h4>
<p>Sample page.<br />For more layout options, refer <a href="@TempData.Peek("documentation")" target="_blank" class="fw-bold">Layout docs</a>.</p>
<!-- <p><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p> -->
