@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
  ViewData["containerNav"] ??= "container-fluid";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
  <div class='@ViewData["containerNav"] d-flex h-100'>
    @* ! Starter Kit menu-items *@
    <ul class="menu-inner py-1">
      <li class='menu-item@(currentPage == "/" ? " active" : "")'>
        <a asp-controller="Home" asp-action="Index" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-smile"></i>
          <div data-i18n="Page 1">Page 1</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Page2" ? " active" : "")'>
        <a asp-controller="Page2" asp-action="Index" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Page 2">Page 2</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <i class="menu-icon tf-icons bx bx-pie-chart-alt-2"></i>
              <div data-i18n="Analytics">Analytics</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <i class="menu-icon tf-icons bx bx-shape-circle"></i>
              <div data-i18n="CRM">CRM</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <i class="menu-icon tf-icons bx bx-cart"></i>
              <div data-i18n="eCommerce">eCommerce</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <i class='menu-icon tf-icons bx bx-car'></i>
              <div data-i18n="Logistics">Logistics</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <i class='menu-icon tf-icons bx bx-book-open'></i>
              <div data-i18n="Academy">Academy</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<!-- / Menu -->
