@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center menu-toggle-icon d-none d-xl-flex"></i>
      <i class="bx bx-x d-flex d-xl-none bx-sm align-middle align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">
    <li class='menu-item@(currentPage == "/" ? " active" : "")'>
      <a asp-controller="Home" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div data-i18n="Page 1">Page 1</div>
      </a>
    </li>
    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Apps & Pages">Apps &amp; Pages</span>
    </li>
    <li class='menu-item@(currentPage == "/Page2" ? " active" : "")'>
      <a asp-controller="Page2" asp-action="Index" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Page 2">Page 2</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
          <a asp-controller="Home" asp-action="Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-pie-chart-alt-2"></i>
            <div data-i18n="Analytics">Analytics</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
          <a asp-controller="Home" asp-action="Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-shape-circle"></i>
            <div data-i18n="CRM">CRM</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
          <a asp-controller="Home" asp-action="Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-cart"></i>
            <div data-i18n="eCommerce">eCommerce</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
          <a asp-controller="Home" asp-action="Index" class="menu-link">
            <i class='menu-icon tf-icons bx bx-car'></i>
            <div data-i18n="Logistics">Logistics</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
          <a asp-controller="Home" asp-action="Index" class="menu-link">
            <i class='menu-icon tf-icons bx bx-book-open'></i>
            <div data-i18n="Academy">Academy</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</aside>
<!-- / Menu -->
