@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo me-1">@await Html.PartialAsync("../_Partials/_Macros")</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">
    <li class='menu-item@(currentPage == "/" ? " active" : "")'>
      <a asp-controller="Home" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div data-i18n=" Dashboard"> Dashboard</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/User") ? " active" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ri-user-line'></i>
        <div data-i18n="Users">Users</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/User" ? " active" : "")'>
          <a asp-controller="User" asp-action="Index" class="menu-link">
            <i class='menu-icon tf-icons ri-circle-line px-1_5'></i>
            <div data-i18n="List">List</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>


</aside>
<!-- / Menu -->
